<html>
<head>

    <link href="./css/bootstrap.css" rel="stylesheet">
    <link href="./css/index.css" rel="stylesheet">
<!--
    <script src="../node_modules/angular-drag-and-drop-lists/angular-drag-and-drop-lists.js"></script>
    <script src="./javascripts/boxin.js"></script>
-->
    <script data-main="js/main" src="js/lib/require.js"></script>
</head>
<body ng-controller="mainCtrl" ng-click="click_handled=false">

<div>click plot to turn gravity on or off</div>
<div plot="function" ng-click="change_g()"></div>
<div ng-show="g > 0">gravity on</div>
<div ng-show="g === 0">gravity off</div>
</body>
